#idea-realization {
  background-color: #fbfaf8;
  .col-8 {
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
  }

  .idea-realization-image-holder {
    padding: 37px 0;
  }

  .idea-realization-headline {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #555555;
  }

  .idea-realization-paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
    margin-top: 30px;
  }
}