.projects-first-row {
  padding-bottom: 0;
}

.projects-second-row {
  padding-top: 37px;
}

.projects-third-row {
  padding-top: 0;

  button {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    border: none;
  }
}

.projects-text-holder__headline {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  display: block;
  color: #555555;
}

.projects-text-holder__paragraph {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #8c8c8c;
}

.projects-text-holder__button-holder {

  .btn {
    width: auto;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 5px 23px;
    box-sizing: border-box;
  }

  .btn-outline-primary {
    color: #8c8c8c;
    border-color: #8c8c8c;

    &:hover {
      color: white;
      background-color: #998675;
      border-color: #8c8c8c;
    }
  }
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  color: white;
  background-color: #998675;
  border-color: #8c8c8c;
}

.projects-card {
  border: none;
  margin-top: 30px;

  &__image-holder {
    position: relative;

    .url-icon {
      position: absolute;
      fill: #c7b299;
      top: 45%;
      left: 50%;
      margin-left: -46px;
      display: none;
      transition: fill 0.2s linear;
      cursor: pointer;

      &:hover {
        fill: #fff;
      }
    }

    .mglass-icon {
      position: absolute;
      fill: #c7b299;
      top: 45%;
      left: 50%;
      margin-left: 20px;
      display: none;
      transition: fill 0.2s linear;
      cursor: pointer;

      &:hover {
        fill: #fff;
      }
    }
  }

  .card-body {
      background-color: #fbfaf8;

    .card-name {
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: #cbb7a0;
      margin-bottom: 0;
    }

    .card-category {
      color: #d1d1d1;
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
    }
  }

  &:hover {

    .projects-card__image-holder {
      background-color: #362f2d;

      .url-icon {
        display: inline;
      }

      .mglass-icon {
        display: inline;
      }
    }

    img {
      opacity: 0.2;
    }

    .card-body {
      background-color: #362f2d;

      .card-name {
        color: #fff;
      }

      .card-category {
        color: #c7b299;
      }
    }
  }
}
